/* h1 {
  color: red;
  position: relative;
  text-align: center;
  vertical-align: middle;
} */
.centerAlign {
position: relative;
top: 20%;
transform: translateY(-50%); 
text-align: center;
}

.centerAlign h1{
  color: red;
  font-size: 7em  
}
